div.row { clear: both; float: none; width: 960px; overflow: hidden; padding: 0; white-space: nowrap; margin: auto; }
div.u { float: left; text-align: center; width: 60px; padding: 1em 0; border-radius: 0.5em; }
div.u:hover { background-color: #f0f0f0; }
tt { color: #404040; text-transform: uppercase; white-space: nowrap; }
div.u tt { display: block; }
div.u span { font-size: 1.5em; height: 44px; display: block; font-family: arial, helvetica, sans-serif; }

table.unicode { xfont-size: 9pt; border-collapse: collapse; margin: 10px; }
table.unicode td { vertical-align: middle; padding: 1px 0; }
table.unicode td.space { padding: 1px 60px; }

div.utop form { padding-top: 12px; float: right; }
div.utop h1 { padding: 6px 0p; }
div.ubottom { border-top: 1px solid #e0e0e0; }
div.ubottom form { padding-top: 7px; float: right; }
